#section1{
    display: flex;
    justify-content: space-between;
}
#section2{
    display: flex;
}
#section2 img{
    width:700px;
    height: 280px;
   margin-left: 150px;
}
.part2{
    background-color: black;
    color: white;
    flex-direction: column;
    margin-left: 20px;
    height: 500px;
}
#section4{
    display:flex;
}
#section3{
    display: flex;
    margin-left:30px ;
}
.part3{
    flex-direction: column;
}
.part3 p{
    width: 300px;
    margin-top: 20px;
}
#section3 h1{
    margin-left:150px;
    margin-top: 10px;
}
.part4a{
    flex-direction: column;
}
#section4 img{
    width: 100px;
    height: 150px;
    margin-bottom: 150px;
    margin-left: 150px;
    margin-top: 20px;
}