#main{
    display:flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-around;
}
#main img{
    width:200px;
    height:auto;
    margin:0 10px;
}
#intro{
    display:flex;
    align-items: baseline;
justify-content: space-between;
margin-top: 2px;
}
#intro h4{
cursor:pointer;


}
#intro h1{
    margin-top: auto;
    padding-left: auto;
    padding-top: 2px;

}
#saibamaissobremim{
    border: none;
    background-color: black;
    border-radius: 20px;
color: white;
width: 310;
height: 25px;
}
#part2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section2{
    display:flex;
    gap: 20px;
}
.section3{
    display: flex;
    gap: 20px;
}
#img3{
    display: flex;
    gap: 20px;
    width:100px;
    height: 60px;
padding-right: 6%;
padding-left: 10px;
}
#img3 img{
    width:100px;
    height: 60px;
}
#img4{
    display: flex;
    gap: 30px;
}
#img4 img{
    width: 55px;
    height:60px;
}
#aa{
    display: flex;
    margin-top: 70px;

}
#aa h3{
    color: rgb(68,89,100,1);
    font-size: 15px;
}
#aa h1 span{
    color: rgb(68,89,100,1);
}
.section5 h3 span{
    color: rgb(68,89,100,1);
}